# PayPal Keys
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
VITE_PAYPAL_CLIENT_ID=
PAYPAL_ENVIRONMENT=sandbox # Set to 'production' for live payments

# Firebase Admin (Optional if using default credentials in Cloud Run)
# FIREBASE_SERVICE_ACCOUNT_JSON=
